<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="pulsatehq.PULPulsate"  xmlns:android="http://schemas.android.com/apk/res/android" version="1.2.1">
    <name>Pulsate</name>
    <description>Pulsate Plugin</description>
    <license>Apache 2.0</license>
    <keywords>pulsate,plugin</keywords>
    
    <js-module src="www/pulsate.js" name="Pulsate">
        <clobbers target="Pulsate" />
    </js-module>
    
    <platform name="ios">
        
        <config-file target="config.xml" parent="/*">
            <feature name="PulsatePlugin">
                <param name="ios-package" value="PulsatePlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>remote-notification</string>
            </array>
        </config-file>
        
        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>Location access is required for this app to work properly.</string>
        </config-file>
        
        <config-file target="*-Debug.plist" parent="aps-environment">
            <string>development</string>
        </config-file>
        <config-file target="*-Release.plist" parent="aps-environment">
            <string>production</string>
        </config-file>
        
        <framework src="src/ios/PULPulsate.framework" custom="true"/>
        <resource-file src="src/ios/PULPulsateBasic.bundle"/>
        
        <header-file src="src/ios/PulsatePlugin.h" />
        <source-file src="src/ios/PulsatePlugin.m" />
        
        <framework src="libz.tbd" />
        <framework src="CoreData.framework" />
        <framework src="CoreLocation.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="CoreBluetooth.framework" />
        
    </platform>
    
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="PulsatePlugin" >
                <param name="android-package" value="com.pulsatehq.cordova.PulsatePlugin"/>
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
            <uses-permission android:name="android.permission.VIBRATE" />
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            
            <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
            
            <permission
            android:name="${applicationId}.permission.C2D_MESSAGE"
            android:protectionLevel="signature" />
            
        </config-file>
        
        <hook type="after_plugin_add" src="src/android/app_name.js" />
        
        <framework src="com.android.support:multidex:1.0.2" />
        <framework src="com.pulsatehq.sdk:PulsateSdk:2.12.0" />
        
        <source-file src="src/android/PulsatePlugin.java" target-dir="src/com/pulsatehq/cordova/" />
        <source-file src="src/android/MyApplication.java" target-dir="src/com/pulsatehq/cordova/" />
        
    </platform>
    
</plugin>
